<footer class="footer" style="background-color: #ffffff; padding-left: 0px; padding-right: 0px;">
    <div class="content" style="display: inline-block; width:260px">
      <span>
          Copyright © <span onMouseOver="this.style.fontWeight='bold';" onMouseOut="this.style.fontWeight='normal';" onClick="window.open('https://www.ing.innolab.us/');" style="cursor: pointer;">Inno.Lab</span>. All rights reserved.
      </span>
    </div>
    <div class="content" style="float: right; width:200px;">
      <span onMouseOver="this.style.fontWeight='bold';" onMouseOut="this.style.fontWeight='normal';" onClick="window.open('https://gsshop.facebook.com/groups/309627019688894');" style="cursor: pointer;">
          이노랩 워크플레이스
      </span>
      <span onMouseOver="this.style.fontWeight='bold';" onMouseOut="this.style.fontWeight='normal';" onClick="window.open('https://gsshop.facebook.com/groups/809736656040861');"  style="padding-left: 20px; cursor: pointer;">
          이노봇 그룹
      </span>
    </div>
  </footer>
