<div class="top_menu">
  <div class="header_content">
    <img src="img/group.png"
       srcset="img/group@2x.png 2x,
               img/group@3x.png 3x"
       class="home_link">
    <div class="menu_btn_group">
      <button class="header_menu target_link">타겟레이더</button>
      <button class="header_menu schedule_link">편성레이더</button>
    </div>
    <a class="help" href="https://quip.com/yxmjAhIUtZ9E" target="_blank">도움말</a>
  </div>
</div>
