<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91675162-15"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-91675162-15');
  </script>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <% include ./header.ejs %>
    <div class="content">
      <div class="col-md-10 offset-1">
        <div class="target_area row">
          <div class="col-md-6 target_img">
            <img width="350" src="img/target.png" />
          </div>
          <div class="col-md-6 align-self-center row">
            <div class="col-md-1">
              <span>1</span>
            </div>
            <div>
              <p>TARGET RADAT</p>
              <h2>경쟁사는 일정기간동안</h2>
              <h2>어떤 상품을 많이 팔았을까요?</h2>
              <p>우리 회사 가중분 기준으로 동일 기간 내</p>
              <p>16개사 경쟁 홈쇼핑사의 편성현황을 비교해보세요.</p>
              <a href="/target"> >></a>
            </div>
          </div>
        </div>
        <div class="schedule_area row">
          <div class="col-md-6 align-self-center row">
            <div class="col-md-1">
              <span>2</span>
            </div>
            <div>
              <p>SCHEDULE RADAT</p>
              <h2>경쟁사 편성표를 한 판으로</h2>
              <h2>빠르게 체크해보세요!</h2>
              <p>막내 MD들 여태짜기 아카이빙하느라 토닥토닥!</p>
              <p>한 판으로 빠르게 비교해보고 대응해보아요!</p>
              <a href="/schedule"> >></a>
            </div>
          </div>
          <div class="col-md-6 schedule_img">
            <img width="350" src="img/schedule.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/bundle.js"></script>
</body>

</html>
