<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91675162-15"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-91675162-15');
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TGT3S93');</script>
  <!-- End Google Tag Manager -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGT3S93" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <% include ./header.ejs %>
  <div id="app" class="target_content">
    <rank-component></rank-component>
  </div>


  <template id="rankTemplate">
    <v-app id="inspire">
      <v-container fluid>
        <v-layout class="filter_area row" wrap>
          <p class="target_title">경쟁사의 주력상품을 보고 타겟소싱의 클루를 찾아 현장에 적용해보아요!</p>
          <div class="col-md-5 date_filter">
            <div class="circle_number">1</div>
            <p class="filter_name">조회 기준 기간 선택</p>
            <input placeholder="시작일 ~ 종료일" data-range="true" data-multiple-dates-separator=" ~ " data-language="en"
              class="datepicker-here date_picker" data-date-format="yyyy-mm-dd">
            <button class="btn_search" id="search" @click=getData()>조회</button>
          </div>
          <div class="col-md-7 cate_shop_filter">
            <div class="right_align">
              <div class="circle_number">2</div>
              <p class="filter_name">카테고리 & 경쟁사 선택</p>
              <v-select flat hide-details append-icon='$vuetify.icons.expand' small multiple clearable
                :items="columnValueList('shop')" v-model="filters['shop']" placeholder="경쟁사 필터"
                class="target_shop_select" @change="selectText"></v-select>
              <v-select flat hide-details append-icon='$vuetify.icons.expand' small clearable
                :items="columnValueList('category')" v-model="filters['category']" placeholder="카테고리 필터"
                class="target_cate_select" @change="gsDataHandler('select')"></v-select>
            </div>
          </div>
        </v-layout>

        <v-layout class="func_area">
          <p class="selected_period" data-date="">기간을 선택해 주세요</p>
          <!-- <button @click="periodDataDown">런치디어택티드</button> -->
          <v-layout class="right_content">
            <button id="excel_download" class="tareget_excel" v-if="download" @click="excelDownload">엑셀 다운로드</button>
          </v-layout>
          </div>
        </v-layout>

        <v-layout class="target_table">
          <v-flex pr-3 pt-3 lg9 sm9>
            <v-data-table :headers="headers" :items="filteredRankItem" :pagination.sync="pagination">
              <template slot="headers" slot-scope="props">
                <tr>
                  <th v-for="header in props.headers" :key="header.text"
                    :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                    @click="changeSort(header.value)">
                    <v-icon small>arrow_upward</v-icon>
                    {{ header.text }}
                  </th>
                </tr>
              </template>

              <template slot="items" slot-scope="props">
                <!-- <tr :active="props.selected" @click.stop="$set(dialog, props.item.name, true)"> -->
                <tr :active="props.selected" @click.stop="test(props)">
                  <td class="text-xs-right">{{(props.index+1)+(pagination.page-1)*pagination.rowsPerPage}}</td>
                  <td class="text-xs-right">{{ props.item.shop }}</td>
                  <td class="text-xs-right target_img">
                    <v-img :src="props.item.img" width="90px" height="90px" />
                  </td>
                  <td class="text-xs-right">{{ props.item.brand }}</td>
                  <td class="text-xs-right ec_name">{{ props.item.name }}</td>
                  <td class="text-xs-right">{{ props.item.real_min }}분</td>
                  <td class="text-xs-right">{{ props.item.weighted_min }}분</td>
                  <td class="text-xs-right">{{ props.item.count }}회</td>
                </tr>

                <v-dialog v-model="dialog[props.item.name]" width="500">
                  <v-card>
                    <v-card-title class="headline grey lighten-2" primary-title>
                      방송 이력
                    </v-card-title>

                    <v-container>
                      <div class="history" v-for="(data, index) in props.item.history">
                        <p>방송명 : {{data.item}}</p>
                        <p>방송날짜 : {{data.date}} {{data.start_time}} ~ {{data.end_time}} ({{data.real_min}}분)</p>
                        <p>가격 : {{data.price}}</p>
                        <p>가중분 : {{data.weighted_min}}분</p>
                        <p>링크 : <a :href="data.link" target="_blank">{{data.link}}</a></p>
                      </div>
                    </v-container>

                    <v-divider></v-divider>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <button color="primary" flat @click.stop="$set(dialog, props.item.name, false)">
                        닫기
                      </button>
                    </v-card-actions>
                  </v-card>
                </v-dialog>

              </template>
            </v-data-table>
          </v-flex>

          <v-flex pl-3 pt-3 lg3 sm3>
            <div class="gs_table_box" id="scroll-target" v-scroll:#scroll-target="onScroll">
              <table class="table gs_table">
                <thead>
                  <div class="gs_title" data-placement="bottom" title="" data-toggle="tooltip"
                    data-original-title="선택한 조건이 적용된 GS SHOP의 데이터">
                    <h6 class="tb_title_zoey">GS SHOP</h6>
                  </div>
                </thead>
                <tbody>
                  <tr class="">
                    <td>순위</td>
                    <td>이미지</td>
                    <td class="">사용분</td>
                    <td class="">가중분</td>
                  </tr>
                  <tr v-if="gs_view_data.length <= 0">
                    <td colspan="4">
                      No data available
                    </td>
                  </tr>
                  <tr v-for="(data,index) in gs_view_data" :data-category=data.category :data-brand=data.brand
                    :data-shop=data.shop>
                    <td class=""><span class="replacement"></span></td>
                    <td><img :src=data.img width="100%" height="auto" /></td>
                    <td class="">{{data.real_min}}분</td>
                    <td class="">{{data.weighted_min}}분</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </v-flex>

        </v-layout>
        <% include ./footer.ejs %>
      </v-container>
    </v-app>
  </template>
  <script src="js/bundle.js"></script>
</body>

</html>